<?php
class Config
{
    public static $aws = array(
        'key' => '',
        'secret' => '',
        'region' => '',
    );

    public static $statsd = [
        'host' => 'localhost',
        'port' =>  8125,
    ];

    public static $mysql = [
        'name' => [
            'host' => 'localhost',
            'user' => 'user',
            'password' => 'password',
        ]
    ];

    public static $PollInterval = '10minutes';

    public static $Period = 60;
}
